*{
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 16px;
    background-color: blueviolet;
    background-image: linear-gradient(315deg, #1778e6, #6d1cf0);
    color: #b2dda9;
    height: 100%;
}
h1{
    text-align: center;
    animation: fuu 2s infinite;
}
nav{
    margin: 0 auto;
    text-align: center;
}
nav ul{
    text-decoration: none;
    margin: 0;
    padding:0;
    list-style: none;
}
nav li{
    display: inline;
}
nav a{
    display: inline-block;
    margin-right: 5px;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 5px 5px;
}
a:link{
    color:lightgreen;
}
a:visited{
    color:green;
}
a:hover{
    color:#28a50e;
    transform: scale(20);
    transform: rotate(720deg);
    transition:1s;
}
strong{
    color: #1778e6;
}
#inne{
    color: green;
}
.klasa{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ol a{
    background-color: #1778e6;
}
td, tr{
    border: 1px solid black;
}
.before::before{
    content: "Pseudoelement ::before";
    color: red;
    font-size: 2em;
}
.after::after{
    content: "PSeudoelement ::after";
    font-size: 2em;
    color: red;
}
.letter::first-letter{
    font-size: 2em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #1b1b1b;
}
.line::first-line{
    color: chartreuse;
    font-size: 2em;
}

.hover:hover{
    font-size: 2em;
    transition: 2s;
}
.link a:link{
    color: #1b1b1b;
    font-size: 2em;
}
.active a:active{
    color: #28a50e;
    transition: 3s;
}
@media only screen and (max-width: 600px){
    body{
        text-align: center;
        font-size: 0.75em;
    }
}
@keyframes fuu {
    0%{
        transform: translateX(500px);
    }
    30%{
        transform: scale(2);
    }
    100%{
        transform: translateX(-700px);
    }
}